ШПОРГАЛКА ПО SQL

если перевод на русский плох

<span style='color: green'>postgres=# psql \! chcp 1251</span>

1 СОЗДАНИЕ ОБЪЕКТОВ

СОЗДАТЬ ДАТАБАЗУ

<span style='color:green'>CREATE DATABASE name;</span>

чтобы подключиться к бд нужно использовать:

<span style='color:green'>\c name</span>

чтобы создать таблицу подключаемся к базе данных, затем пишем:

<span style='color:green'>CREATE TABLE name</span>

<span style='color:green'>(column1 column_type,</span>

<span style='color:green'>column2 column_type,</span>

<span style='color:green'>column3 column_type</span>

<span style='color:green'>);</span>

в column_type много типов данных, которые я приведу ниже

ТИПЫ ДАННЫХ:

ЧИСЛОВЫЕ

<span style='color:green'>INT или INT4- целочисленные значения, от −2147483648 до 2147483647, занимает 4 байта</span>

<span style='color:green'>SMALLINT или INT2 - целочисленные значения от -32768 до 32767. занимает 2 байта</span>

<span style='color:green'>BIGINT или INT8 - целочисленные значения от -очень_много до очень_много. занимает 8 байт</span>

<span style='color:green'>DECIMAL - нецелые цисла, принимает 2 параметра (кол-во цифр перед запятой, кол-во цифр после запятой)</span>

<span style='color:green'>TINYINT - принимает целые числа от -127 до 128, занимает 1 байт</span>

<span style='color:green'>BOOL - True(1) или False(0). По сути то же самое, что TINYINT, занимает 1 байт</span>

<span style='color:green'>FLOAT - числа с плавающей точкой</span>

СИМВОЛЬНЫЕ

<span style='color:green'>VARCHAR(n) - хранит текст (может принимать числовые значения), n - ограничение кол-ва символов (< n)</span>

<span style='color:green'>CHAR(n) - то же самое, что VARCHAR, но длина должна быть == n</span>

<span style='color:green'>TEXT - подходит для хранения большого бъема текста. Например целой статьи</span>

ДАТА И ВРЕМЯ

<span style='color:green'>DATE - хранит дату, от 1000-01-01 до 9999-12-31. занимает 3 байта</span>

<span style='color:green'>TIME - хранит время hh:mm:ss. занимает 3 байта</span>

<span style='color:green'>DATETIME - объединяет DATE и TIME. занимает 8 байт</span>

<span style='color:green'>TIMESTAMP - хранит дату и время начиная с 1970 года. занимает 4 байта</span>

КОМАНДЫ

отойдем от темы и рассмотрим основные команды. Большинство из них интуитивно понятны

1 DDL (Data Definition Language) - язык определения данных

<span style='color:green'>CREATE - создать объект</span>

<span style='color:green'>ALTER - модифицировать существующий в БД объект</span>

<span style='color:green'>DROP - удалить объект</span>

2 DML (Data Manipulation Language) - язык изменения данных

<span style='color:green'>SELECT - выбрать данные из таблиц</span>

<span style='color:green'>INSERT - создать записи в таблице</span>

<span style='color:green'>UPDATE - изменить данные в таблице</span>

<span style='color:green'>DELETE - удаляет записи</span>

3 DCL (Data Control Language) - язык управления данными

<span style='color:green'>GRANT - дает пользователю права</span>

<span style='color:green'>REVOKE - забирает права</span>

далее рассмотрим ОГРАНИЧЕНИЯ

<span style='color:green'>NOT NULL - не имеет нулевого значения</span>

<span style='color:green'>DEFAULT - значение колонки по умолчанию</span>

<span style='color:green'>UNIQUE - все значения должны быть уникальны</span>

<span style='color:green'>PRIMARY KEY - первичный ключ</span>

<span style='color:green'>FOREIGN KEY - внешний ключ</span>

<span style='color:green'>CHECK - все значения в колонке удовлетворяют каким то условиям</span>

чтобы удалить ограничение нужно использовать <span style='color:green'>ALTER TABLE</span> + <span style='color:green'>DROP CONSTRAINT</span> + <span style='color:green'>название ограничения</span>

СИНТАКСИС

выбор атрибутов из таблицы

<span style='color:green'>SELECT col1, col2, col3</span>

<span style='color:green'>FROM tableName;</span>

distinct - удаляет строки дубликаты

<span style='color:green'>SELECT DISTINCT col1, clo2, col3</span>

<span style='color:green'>FROM tableName;</span>

"*" - значит "выбрать все атрибуты", where - позволяет применить условие к выборке

<span style='color:green'>SELECT * FROM tableName</span>

<span style='color:green'>WHERE condition1 AND/OR condition2;</span>

"in" - позволяет наложить ограничения на выборку при помощи списка значений(?хз?)

<span style='color:green'>SELECT * FROM tableName</span>

<span style='color:green'>WHERE colName IN (val1, val2, val3);</span>

between - ставит условие "от до", как от 1 до 20

<span style='color:green'>SELECT * FROM tableName</span>

<span style='color:green'>WHERE colName BETWEEN val1 AND val2;</span>

like - позволяет применить паттерн, например "%@gmail.com"

<span style='color:green'>SELECT * FROM tableName</span>

<span style='color:green'>WHERE colName LIKE pattern;</span>

order by - сортировка по убыванию(desk)/возрастанию(ask), сортировать можно и по текстовым символам

<span style='color:green'>SELECT * FROM tableName</span>

<span style='color:green'>WHERE condition</span>

<span style='color:green'> ORDER BY colName ASC/DESK;</span>